:root {
  --primary: #f77544;
  --secondary: #e9e9e9;
  --background: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--primary);
  min-height: 20vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
@media only screen and (max-width: 600px) {
  .App-header{
    flex-direction: column;
    justify-content: center;
  }
}

.App-body {
  background-color: var(--background);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
